**Consider the following Python dictionary data and Python list labels:**

data = {'birds': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'],
        'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4],
        'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

**1. Create a DataFrame birds from this dictionary data which has the index labels.**

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = {'bird': ['Cranes', 'Cranes', 'plovers', 'spoonbills', 'spoonbills', 'Cranes', 'plovers', 'Cranes', 'spoonbills', 'spoonbills'], 'age': [3.5, 4, 1.5, np.nan, 6, 3, 5.5, np.nan, 8, 4], 'visits': [2, 4, 3, 4, 3, 4, 2, 2, 3, 2], 'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [5]:
birds = pd.DataFrame.from_dict(data)

In [6]:
birds.head()

         bird  age  visits priority
0      Cranes  3.5       2      yes
1      Cranes  4.0       4      yes
2     plovers  1.5       3       no
3  spoonbills  NaN       4      yes
4  spoonbills  6.0       3       no

In [7]:
index = pd.Index(labels)

In [8]:
birds = birds.set_index(index)

In [9]:
birds.head()

         bird  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
c     plovers  1.5       3       no
d  spoonbills  NaN       4      yes
e  spoonbills  6.0       3       no

:**2. Display a summary of the basic information about birds DataFrame and its data.**

In [10]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   bird      10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes

**3. Print the first 2 rows of the birds dataframe **

In [28]:
birds.head(2)

     bird  age visits priority
0  Cranes  3.5      2      yes
1  Cranes  4.0      4      yes

**4. Print all the rows with only 'birds' and 'age' columns from the dataframe**

In [12]:
birds[['bird', 'age']]

         bird  age
a      Cranes  3.5
b      Cranes  4.0
c     plovers  1.5
d  spoonbills  NaN
e  spoonbills  6.0
f      Cranes  3.0
g     plovers  5.5
h      Cranes  NaN
i  spoonbills  8.0
j  spoonbills  4.0

**5. select [2, 3, 7] rows and in columns ['birds', 'age', 'visits']**

In [13]:
birds.iloc[[2,3,7], [0,1,2]]

         bird  age  visits
c     plovers  1.5       3
d  spoonbills  NaN       4
h      Cranes  NaN       2

**6. select the rows where the number of visits is less than 4**

> Indented block

In [14]:
birds[birds['visits'] < 4]

         bird  age  visits priority
a      Cranes  3.5       2      yes
c     plovers  1.5       3       no
e  spoonbills  6.0       3       no
g     plovers  5.5       2       no
h      Cranes  NaN       2      yes
i  spoonbills  8.0       3       no
j  spoonbills  4.0       2       no

**7. select the rows with columns ['birds', 'visits'] where the age is missing i.e NaN**

In [32]:
a = birds[birds['age'].isnull()].filter(items=['bird', 'age'])
print(a)

         bird  age
3  spoonbills  NaN
7      Cranes  NaN

**8. Select the rows where the birds is a Cranes and the age is less than 4**

In [17]:
birds[(birds['bird'] == 'Cranes') & (birds['age'] < 4)]

     bird  age  visits priority
a  Cranes  3.5       2      yes
f  Cranes  3.0       4       no

**9. Select the rows the age is between 2 and 4(inclusive)**

In [18]:
birds[ (birds['age'] > 2) & (birds['age'] <= 4) ]

         bird  age  visits priority
a      Cranes  3.5       2      yes
b      Cranes  4.0       4      yes
f      Cranes  3.0       4       no
j  spoonbills  4.0       2       no

**10. Find the total number of visits of the bird Cranes**

In [19]:
b = birds[(birds['bird'] == 'Cranes') & (birds['visits'] > 0)]

b['visits'].sum()

12

**11. Calculate the mean age for each different birds in dataframe.**

In [20]:
birds.groupby('bird')['age'].mean()

bird
Cranes        3.5
plovers       3.5
spoonbills    6.0
Name: age, dtype: float64

**12. Append a new row 'k' to dataframe with your choice of values for each column. Then delete that row to return the original DataFrame.**

In [21]:
k = {'bird': ['Chicken'], 'age': [3], 'visits': [2], 'priority': ['yes']}

birds = birds.append(k, ignore_index = True)

In [22]:
birds.drop([birds.index[10]])

         bird  age visits priority
0      Cranes  3.5      2      yes
1      Cranes  4.0      4      yes
2     plovers  1.5      3       no
3  spoonbills  NaN      4      yes
4  spoonbills  6.0      3       no
5      Cranes  3.0      4       no
6     plovers  5.5      2       no
7      Cranes  NaN      2      yes
8  spoonbills  8.0      3       no
9  spoonbills  4.0      2       no

**13. Find the number of each type of birds in dataframe (Counts)**

In [23]:
c = birds['bird'].value_counts()

In [24]:
print(c)

Cranes        4
spoonbills    4
plovers       2
[Chicken]     1
Name: bird, dtype: int64

**14. Sort dataframe (birds) first by the values in the 'age' in decending order, then by the value in the 'visits' column in ascending order.**

In [ ]:
sorted_df = birds.sort_values(['age', 'visits'], ascending = [False, True], axis = 0)

**15. Replace the priority column values with'yes' should be 1 and 'no' should be 0**

In [38]:
birds_copy = birds.copy(deep=True)
birds_copy['priority'] = birds_copy.apply(lambda x: 1 if x['priority'] == 'yes' else 0 , axis=1)

In [39]:
birds_copy

          bird  age visits  priority
0       Cranes  3.5      2         1
1       Cranes  4.0      4         1
2      plovers  1.5      3         0
3   spoonbills  NaN      4         1
4   spoonbills  6.0      3         0
5       Cranes  3.0      4         0
6      plovers  5.5      2         0
7       Cranes  NaN      2         1
8   spoonbills  8.0      3         0
9   spoonbills  4.0      2         0
10   [Chicken]  [3]    [2]         0

**16. In the 'birds' column, change the 'Cranes' entries to 'trumpeters'.**

In [39]:
birds.bird.map(lambda x: 'trumpeters' if x=='Cranes' else x)

0     trumpeters
1     trumpeters
2        plovers
3     spoonbills
4     spoonbills
5     trumpeters
6        plovers
7     trumpeters
8     spoonbills
9     spoonbills
10     [Chicken]
Name: bird, dtype: object